*:focus {
    outline: none;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(24, 21, 21);
    width :100vw;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, button, input {
    color: rgb(151, 150, 150);
    font-size: 1em;
    letter-spacing: 1px;
}
.h1 {
    font-size: 2rem;
}
#menu {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    color: rgb(151, 150, 150);
    cursor: pointer;
    z-index: 2;
}
#menu-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: rgb(24, 21, 21);
    border-left: 1px solid rgb(151, 150, 150);
    padding: 5rem 1rem;
    padding-bottom: 10px;
    z-index: 1;
}
#menu-content p {
    color: rgb(151, 150, 150);

}
.slide-out {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
.slide-in {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
.h {
    visibility: collapse;
}
@keyframes slide-in {
    100% { transform: translateX(100%); }
}
@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(100%); }
}  
@keyframes slide-out {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}
@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}
#menu span {
    display: block;
    font-size: 3.4rem;
    margin-top: -50px;
}    
#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    overflow-y: auto;
}
#content {
    position: relative;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
}
.form-box {
    width: 50%;
    position: relative;
    margin: 7rem 0;
    margin-bottom: 3rem;
    display: block;
    padding-left: 5px;
}
#form-cover {
    display: flex;
    width: 100%;
    border-radius: 7px;
}
.inputbox {
    flex: 70%;
    width: 70%;
    padding: 5px 20px;
    font-size: 1.3rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(151, 150, 150);
    color: rgb(255, 255, 255);
}
.btn {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(151, 150, 150);
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding: 5px 8px;
    cursor: pointer;
}
.btn:hover {
    color: rgb(24, 163, 36);
}
#res {
    color: rgb(151, 150, 150);
    width: 36%;
    min-width: 200px;
    min-height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem 0;
    text-align: left;
    /* border: 1px solid rgb(151, 150, 150); */
    border-radius: 7px;
    padding: 1rem;
    -moz-box-shadow: 0 0 25px rgb(151, 150, 150);
    -webkit-box-shadow: 0 0 25px rgb(151, 150, 150);
    box-shadow: 0 0 25px rgb(151, 150, 150);
}
table strong {
    color: rgb(24, 163, 36);
}
#city-content {
    line-height: 200%;
}
#description {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 7rem;
    border-top: 1px solid rgb(151, 150, 150);
    width: 100%;
    background: rgb(24, 21, 21);
    z-index: 1;
}
.span-txt {
    color: rgb(163, 24, 24);
}
#description h4 {
    display: inline;
    margin-right: 10rem;
}
.exit-btn {
    display: none;
}
.hidden {
    display: none;
}
.visible {
    display: block;;
}
#load-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#weather-content, #temp-title {
    line-height: 300%;
}
#temp-title {
    line-height: 200%;
}
#atm-title {
    line-height: 300%;
}
#loader {
    margin: 100px auto;
    border: 7px solid #f3f3f3;
    border-top: 7px solid rgb(24, 163, 36);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: relative;
}
#description-title {
    line-height: 400%;
}
#description-content {
    text-transform: capitalize;
}
.err::placeholder {
    color: rgb(163, 24, 24);
}
      
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 900px) {
    #content {
        position: relative;
        width: 90%;
        margin: 2rem auto;
        padding: 1rem;
    }
    #description {
        padding: 1rem 4rem;
        font-size: 0.9rem;
    }
    #description h4 {
        margin-right: 8rem;
    }
    #form-cover {
        width: 80%;
    }
    .inputbox, .btn {
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px)  {
    #description h4 {
        margin-right: 6rem;
    }
    #res {
        width: 95%;
        left: 0;
        margin: 2rem 0;
        background: rgb(24, 21, 21);
        display: none;
    }
    .exit-btn {
        display: block;
        margin-top: 40px;
        background: rgb(163, 24, 24);
        border: 1px solid rgb(163, 24, 24);
        border-radius: 7px;
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        cursor: pointer;
        opacity: 0.8;
    }
    .btn {
        padding: 0;
    }
    .form-box {
        width: 70%;
    }
    .inputbox {
        padding-left: 0;
    }
}
@media screen and (max-width: 690px) {
    #description {
        padding: 1rem 3rem;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 640px) {
    #description {
        padding: 7px;
        text-align: center;
    }
    #description h4 {
        display: block;
        margin-bottom: 13px;
        font-size: 0.5rem;
        margin-right: 0;
    }
    #res {
        width: 94%;
    }
}
@media screen and (max-width: 540px) {
    #res {
        width: 93%;
    }
    .form-box {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    #res {
        width: 93%;
        left: 0;
    }
    #content {
        width: 85%;
    }
    .form-box {
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    #res {
        width: 92%;
    }
    #content {
        width: 100%;
        margin: 2rem auto;
    }
    .h1 {
        font-size: 1.3rem;
    }
    .r {
        font-size: 1rem;
        width: 60%;
        margin-top: 50px;
    }
}
@media screen and (max-width: 390px) {
    #res {
        width: 91%;
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 360px) {
    #res {
        width: 90%;
    }
}
@media screen and (max-width: 320px) {
    #res {
        width: 89%;
        font-size: 0.8rem;
        height: 300px;
    }
    .inputbox, .btn {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 300px) {
    #res {
        width: 87%;
        font-size: 0.7rem;
    }
    .r {
        width: 80%;
    }
}